<div class="container mx-2" id=message_form>
    <form>
        <div class="row ">
            <div class="col-12">
                <p> class=" d-flex justify-content-start">Contact</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, odio provident? Enim cum nesciunt
                    voluptas fugit earum, ad id soluta? Laboriosam recusandae minima voluptatibus nobis fuga magnam?
                    Voluptate, illo quidem Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit enim delectus
                    deserunt voluptates, maxime iure quas doloribus sequi nemo praesentium, est recusandae sapiente
                    harum? Distinctio obcaecati itaque odio in minus..</p>
                <div class="col 6 offset-1"></div>
            </div>
        </div>
        <div class="row  ">
            <div class="col-2 offset-2 d-flex justify-content-end bg-light ">
                <p> <strong> <label class=pt-2 for="exampleInputEmail1">Email address</label> </strong>  </p> 
            </div>
            <div class="col-6 bg-light">
                <div class="form-group"></div>

                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email">
            </div>
        </div>
        <div class="row ">
            <div class="col-2 offset-2 d-flex justify-content-end pt-2 bg-light">
                <p> <strong> <label class=pt-2 for="yourmessage">Your message</label></strong> </p>  
            </div>
            <div class="col-6  bg-light">
                <div class="form-group"></div>

                <textarea class="form-control  mb-3" id="yourmessage" placeholder="Enter your message here"
                    rows="2"></textarea>
            </div>

        </div>
        <div class="row">
            <div class="col-8 offset-2 bg-light d-flex justify-content-end">
                <button type="button" class="btn btn-primary  mb-2">Submit</button>
            </div>
        </div>
    </form>
</div>