<form>
    <div class="container bg-light" id=message_form>
        <div class=row>
            <div class="col-12">
                <h3 class=" d-flex justify-content-center">Contact</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, odio provident? Enim cum nesciunt
                    voluptas fugit earum, ad id soluta? Laboriosam recusandae minima voluptatibus nobis fuga magnam?
                    Voluptate, illo quidem Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit enim delectus
                    deserunt voluptates, maxime iure quas doloribus sequi nemo praesentium, est recusandae sapiente
                    harum? Distinctio obcaecati itaque odio in minus..</p>
                <div class="col 6 offset-1">
                    <div class="row bg-light">
                        <div class="col-4 d-flex justify-content-end mt-3">
                            <h3><label for="exampleInputEmail1">Email address</label> </h3>
                        </div>
                        <div class="col-8">
                            <div class="form-group"></div>

                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="row bg-light">
                        <div class="col-4 d-flex justify-content-end mt-3">
                            <h3><label for="yourmessage">Your message</label></h3>
                        </div>
                        <div class="col-8">
                            <div class="form-group"></div>

                            <textarea class="form-control  mb-3" id="yourmessage" placeholder="Enter your message here"
                                rows="2"></textarea>
                        </div>

                    </div>
                    <div class="row bg-light d-flex justify-content-end mr-2">
                        <button type="button" class="btn btn-primary  mb-2">Submit</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>