<div class="container">
    <div class="col">
        <div class="card mb-3 px-5 py-5">
            <div class="row no-gutters">

                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title">The First Heading <span style="color: grey">Will Catch You Eye</span>
                        </h2>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo magni
                            quibusdam consequuntur quaerat cupiditate impedit laborum ea earum eveniet?
                            Reprehenderit animi, amet deserunt officiis error eaque dignissimos accusantium
                            voluptatem reiciendis.</p>

                    </div>
                </div>
                <div class="col-md-4 pt-4">
                    <img src="./assets/img/1.jpg" class="card-img"
                        alt="..." style="border-radius:50%">
                </div>
            </div>
        </div>
    </div>
</div>