<div class="container">
    <div class="row" id="portfolio">
        <div class="col mb-5">
            <h1 class="mt-5">Portfolio</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita consequuntur odio, magni in nulla
                atque accusantium dolorem, minima fugiat aperiam dignissimos! Dolor reprehenderit culpa tempore tempora
                rerum non doloribus vero.</p>
            <div class="card-deck rounded-0">
                <div class="card border-0 rounded-0">
                    <img src="C:\Users\danif\OneDrive\Escritorio\exercise-git-collabration\website1\assets\img\big-project-image.png"
                        class="card-img-top rounded-0" alt="...">
                    <div class="card-body rounded-0">
                        <h4 class="card-title text-primary">Project name</h4>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="card border-0 rounded-0">
                    <img src="C:\Users\danif\OneDrive\Escritorio\exercise-git-collabration\website1\assets\img\big-project-image.png"
                        class="card-img-top rounded-0" alt="...">
                    <div class="card-body rounded-0">
                        <h4 class="card-title text-primary">Project name</h4>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="card border-0 rounded-0">
                    <img src="C:\Users\danif\OneDrive\Escritorio\exercise-git-collabration\website1\assets\img\big-project-image.png"
                        class="card-img-top rounded-0" alt="...">
                    <div class="card-body rounded-0">
                        <h4 class="card-title text-primary">Project name</h4>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>