<div class="container" id=second_heading>
    <div class=row>
        <div class="col mb-3">
            <div class="row p-5">
                <div class="col-md-4">
                    <img src=".\assets\img\2.jpg"
                        class="card-img rounded-circle" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4>The Second Heading <span class="text-muted">Is Pretty Cool Too
                            </span></h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Voluptates dolor minus sed temporibus quidem itaque beatae expedita vel fuga quam
                            pariatur vero facilis quasi, reprehenderit, incidunt repellendus, facere repudiandae
                            ipsa?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>